*{
    padding: 0px;
  margin:0px;
}
p{
  font-family: cursive;
  font-size: 15px;
}
html{
    background: #FDFEFE;
    overflow-x: hidden;
}

/*****************************//*****************************//*****************************//*****************************/

.nav-bar{
  width: 300px;
  height: 100vh;
  background-color: #F4F6F7;
  float: left;
  position: fixed;
}

nav{
  width: 300px;
  height: auto;
  position: relative;
  top: 10px;
}
.sub-menu-parent { position: relative; 
}

.sub-menu { 
visibility: hidden; /* hides sub-menu */
opacity: 0;
position: absolute;
/*top: 100%;*/
left: 0;
width: 100%;
/*transform: translateY(-2em);
z-index: -1;*/
transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
visibility: visible; /* shows sub-menu */
opacity: 1;
z-index: 1;
transform: translateY(0%);
transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

/* presentational */
body { padding: 2%; font: 18px/1.4 sans-serif; }

nav a { color:black; display: block; padding: 0.5em 1em; text-decoration: none; }
nav a:hover { color: white; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }

nav > ul { background: aquamarine; text-align: center; }
nav > ul > li { display: inline-block;  }
nav > ul > li:first-child { border-left: none; }

.sub-menu {
background: #aaa;
}

/***********************************************************main***************************************************************/

main{
  width: calc(100% - 300px);
  float: left;
  margin-left: 300px;
}
main section{
  width: 100%;
  height: 100vh;
}
/***********************************************************fondo***************************************************************/

/**#fondo{
  width: 1300px;
  height: 500px;
  position: relative;
  left: 15px;
  top: 15px;
  background-image: url("../multi/img/fondo1.jpg");
  background-size: cover;
}

#fondo #l1{
position: relative;
top: 100px; 

text-align: center;
}

#fondo #l1 #titulo1{
font-size: 50px;
color: honeydew;
}

#fondo #l1 #par1{
color: honeydew ;
}

#fondo #l1 #boton1{
text-decoration: none;
color: honeydew;
padding: 10px;
position: relative;
top: 50px;
border: 2px solid honeydew;
}*/
/***********************************************************INICIO***************************************************************/
#inicio{
    width: 1300px;
    height: auto;
   text-align: center;

}

th{
  position: relative;
  left: 590px;
}

.h22{
  font-size: 40px;
}
/*****************************//************************HEADER*****//*****************************//*****************************/
header{
  margin-top: 10px;
  margin-bottom: 20px;
}
/*****************************//**************************GENERAL-SECTION***//*****************************//*****************************/
section{
  margin-bottom: 30px;
}
/*****************************//*****************************//*****************************//*****************************/
.multi{
  width: 1300px;
  height: auto;
  background: rgb(226, 16, 16);
}
.mulp{
  margin-top: 10px;
}
/*****************************//********************SONIDO*********//*****************************//*****************************/
.btMusic{
  position: relative;
  background: black;
  left: 550px;
  border: 1px solid;
  width: 50px;
  height: 50px;
  color: #FDFEFE;
}

#mulp-mp3{
  position: relative;
  top: 10px;
  width: auto;
  height: auto;
}
.mulp video{
    width: 50%;
    height: auto;
    position: relative;
    left: 300px;
    top: 10px;
  }

  /*****************************//*********************MAS INFORMACION********//*****************************//*****************************/
  #nec{
    width: 1300px;
    height: auto;
background: mediumblue;
  }

  #nec .titulos .h22{
    text-align: center;
  }

  #nec p{
    text-align: center;
  }

  #nec iframe{
    position: relative;
    left: 350px;
  }

  
  /*****************************//**************************REGISTRO***//*****************************//*****************************/
  #for{
    width: 1300px;
    height: auto;
    background: mediumorchid;
     text-align: center;
  }
  input{
    display: inline-block;
  }

    /*****************************//*******************FOOTER**********//*****************************//*****************************/
  footer{
    width: 1300px;
    height: auto;
    background: black;
    position: relative;
   
  }

  .aa{
    text-decoration: none;
    color: #e2f4f1;
  }


  #hola{
    width: 400px;
    height: auto;
position: relative; 
left: 40px; 
}

.bb{
  width: 400px;
  height: auto;
  display: inline-block;
  position: relative;
  left: 40px;
  
}

.h44{
  color: white;
}

#mm{
  color: #FDFEFE;
  position: relative;
  left: 40px;
  top: 20px;
}


.logoFoter{
  position: relative;
 left: 900px;
}


#logo {
  width:180px;
}

/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
@media screen and (min-width: 780px) and (max-width:1024px){


 /** body{
 
  }
  **/
  
  nav{
    width: 980px;
    background: chartreuse;
  }
  .sub-menu-parent{
    height: 50%;
    
   border-bottom: black 1px solid;
   
  }
  /**********************fondo******************************************************ADAOTABLE************************************************************/
  #fondo{
    width: 980px;
    float: left;
  }
  /**********************inicio******************************************************ADAOTABLE************************************************************/
  #inicio{
    width: 980px;
    height: 300px;
    position: relative;
left: 0; 


}


  .inicio2{
    width: 980px;
   height: 500px;
    position: relative;
    top: 50px;
   text-align: center;
   background: rgb(233, 229, 7);

  }
  }


/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/

@media screen and (min-width: 480px) and (max-width:780px){
  nav{
    width: 680px;
  }
  .sub-menu-parent{
    height: 50%;
    
   border-bottom: black 1px solid;

}
/**********************titulos******************************************************ADAOTABLE************************************************************/
#fondo{
  width: 680px;
  float: left;
}

}
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/
/*****************************//*****************************//*****************************//*****************************/