*{
    margin: 0;
    padding: 0;
}

button{
    border-radius: 5px;
   
}

a{
    text-decoration: none;
    color: black;
}

body{
  overflow-x: hidden;
}


/***********************************************************menu***************************************************************/
nav{
    width: 1300px;
    height: auto;
    position: relative;
    top: 10px;
}
.sub-menu-parent { position: relative; 
}

.sub-menu { 
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

/* presentational */
body { padding: 2%; font: 18px/1.4 sans-serif; }

nav a { color:black; display: block; padding: 0.5em 1em; text-decoration: none; }
nav a:hover { color: white; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }

nav > ul { background: aquamarine; text-align: center; }
nav > ul > li { display: inline-block;  }
nav > ul > li:first-child { border-left: none; }

.sub-menu {
  background: #aaa;
}



/***********************************************************fondo***************************************************************/

#fondo{
    width: 1300px;
    height: 500px;
    margin-top: 20px;
    background-image: url("../multi/img/fondo1.jpg");
    background-size: cover;
    
}

#fondo #l1{
  position: relative;
  top: 100px; 
 
  text-align: center;
}

#fondo #l1 #titulo1{
  font-size: 50px;
color: honeydew;
}

#fondo #l1 #par1{
  color: honeydew ;
}

#fondo #l1 #boton1{
  text-decoration: none;
  color: honeydew;
  padding: 10px;
  position: relative;
  top: 50px;
  border: 2px solid honeydew;
}


/***********************************************************TITULO***************************************************************/
#bqa{
    width: 100%;
    display: block;
    color: #333333;
    position: relative;
    top: 20px;
    bottom: 30px;
    text-align: center;
}

#bqa #titulo2{
  font-size: 40px;
  color: rgb(0, 0, 0);
  position: relative;
  top: 20px;
}

#tite{
  margin-top: 20px;
  font-size: 60px;

}
/***********************************************************CARRUSEL***************************************************************/
#carrusel{
  width: 1300px;
    position: relative;
    top: 40px;
}

.splide{
    margin: 10px;
}

.splide__slide{
text-align: center;
}

.splide__slide h4{
  margin-top: 10px;
}


.splide__slide #uno{
    width: 50%;
    height: auto;
    position: relative;
    margin-top: 10px;
   
}


.splide__slide #dos{
    width: 50%;
    height: auto;
    position: relative;
    margin-top: 10px;
}



.splide__slide #tres{
    width: 215px;
    height: 215px;
    position: relative;
}

/***********************************************************CONTENEDORPRINCIPAL***************************************************************/
.contenedorPrincipal{
  width: 1300px;
  height: 1000px;
  position: relative;
  top: 40px;
  bottom: 40px;
}
/***********************************************************SECTION1***************************************************************/
.sect1{
    width: 1300px;
    height: 300px;
    display: inline-block;
    position: relative;
    top: 10px;
  }
  
  .sect1 .box1{
  width: 300px;
  height: 300px;
  position: relative;
  left: 100px;
  background-image: url(../multi/img/celular.jpg);
  background-size: cover;
  
  }
  
  .sect1 .texto1{
    width: 400px;
    height: auto;
    position: relative;
    left: 600px;
    top: -220px;
   text-align: center;
  }
  
  #bt2{
    position: relative;
    top: 15px;
  }
/***********************************************************SECTION2***************************************************************/

.sect2{
  width: 1300px;
  height: 300px;
  display: inline-block;
  position: relative;
  top: -120px;
  }
  
  .sect2 .box2{
  width: 300px;
  height: 300px;
  position: relative;
  left: 100px;
  background-image: url(../multi/img/seguridad.jpg);
  background-size: cover;
  
  }
  
  .texto2{
    width: 400px;
    height: auto;
    position: relative;
    left: 600px;
      top: -230px;
   text-align: center;
  }
  
  #bt2{
    position: relative;
    top: 15px;
  }

/***********************************************************SECTION3***************************************************************/

.sect3{
  width: 1300px;
  height: 300px;
  display: inline-block;
  position: relative;
  top: -300px;
  }
  
  .sect3 .box3{
  width: 300px;
  height: 300px;
  position: relative;
  left: 100px;
  background-image: url(../multi/img/ahorro.jpg);
  background-size: cover;
  
  }
  
  .texto3{
    width: 400px;
    height: auto;
    position: relative;
    left: 600px;
   top: -221px;
   text-align: center;
  }
  
  #bt2{
    position: relative;
    top: 15px;
  }  
/***********************************************************SECTION4***************************************************************/

.sect4{
    width: 1300px;
    height: 600px;
    display: inline-block;
   position: relative;
   top: 80px;
   text-align: center; 
  }
  
  .sect4 .titulo3{
    width: 1260px;
    height: auto;
    position: relative;
    top: 20px;
    left: 20px;
    bottom: 40px;
    background:white;
  }
  
  .sect4 .titulo3 #h22{
    font-size: 25px;
  }
  
  /*****************************//***********************SECTION4 CAJA1******//*****************************//*****************************/
  
  .sect4 .cajon1{
    width: 400px;
    height: 450px;
    position: relative;
    top: 30px;
    display: inline-block;
  }
  
  .sect4 .cajon1 .zoom{
    width: 400px;
    height: 285px;
    background-image: url(../multi/img/meet.jpg);
    background-size: cover;
  }
  
   .texto-zoom{
    width: 400px;
    height: auto;
    position: relative;
    top: 20px;
    background: white;
    text-align: center;
  }
  
  /*****************************//**************************SECTION4 CAJA2***//*****************************//*****************************/
    .sect4 .cajon2{
      width: 400px;
      height: 450px;
      position: relative;
      left: 8px;
      top: 5px;
      display: inline-block;
     background: white;
    }
    
    .sect4 .cajon2 .pepsie{
      width: 400px;
      height: 285px;
      background-image: url(../multi/img/pepsi.png);
      background-size: cover;
    }
    
     .texto-pepsies{
      width: 400px;
      height: auto;
      position: relative;
      top: 48px;
      text-align: center;
    }
  /*****************************//**************************SECTION4 CAJA3***//*****************************//*****************************/
    
    .sect4 .cajon3{
      width: 400px;
      height: 450px;
      position: relative;
      left: 10px;
      top: -20px;
      display: inline-block;
     background: white;
    }
    
    .sect4 .cajon3 .pepsie1{
      width: 400px;
      height: 285px;
      background-image: url(../multi/img/iphone1.PNG);
      background-size: cover;
      text-align: center;
    }
    
     .texto-pepsies1{
      width: 400px;
      height: auto;
      position: relative;
      top: 64px;
      background: white;
      text-align: center;
    }
  
  
/***********************************************************FOOTER***************************************************************/
footer{
    width: 1300px;
    height: auto;
    background: black;
    position: relative;
   top: 70px;
  }

  .h44{
    color: white;
  }

  .bb{
    width: 400px;
    height: auto;
    display: inline-block;
    position: relative;
    left: 40px;
    
  }

  #hola{
    width: 400px;
    height: auto;
position: relative; 
left: 40px; }

#mm{
  color: #FFFFFF;
  position: relative;
  left: 40px;
}

.aa{
  text-decoration: none;
  color: #FDFEFE;
}
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/






/****************************************************************************ADAOTABLE************************************************************/
@media screen and (min-width: 780px) and (max-width:1024px){
/**********************MENU******************************************************ADAOTABLE************************************************************/

body{
  width: 780px;
  overflow-x: hidden;
}


nav{
  width: 720px;

  
  
}
.sub-menu-parent{
  height: 50%;
  
 border-bottom: black 1px solid;
 
}
/**********************fondo******************************************************ADAOTABLE************************************************************/
#fondo{
  width: 720px;
  float: left;
}
/**********************titulos******************************************************ADAOTABLE************************************************************/
#bqa{
  width: 720px;
 left: 20px;

  margin-bottom: 20px;
}
/**********************carrusel******************************************************ADAOTABLE************************************************************/
#carrusel{
  width: 720px;
  margin-bottom: 30px;
  
}
.splide__slide{
  font-size: 16px;
}
.splide__slide #tres{
  width: 120px;
  height: 120px;
}
 /**********************contenedorprincipal******************************************************ADAOTABLE************************************************************/
 .contenedorPrincipal{
  width: 720px;

  height:fit-content;

}
/**********************sec1******************************************************ADAOTABLE************************************************************/

.sect1{
width: 660px;
left: 20px;


}

.sect1 .box1{
  width: 200px;
  height: 200px;
  position: relative;
  left: 0px;
  top: 20px;
}

.sect1 .texto1{
  width: 340px;
  position: relative;
  top: -160px;
  left: 240px;
  font-size: 16px;
}
/**********************sect2******************************************************ADAOTABLE************************************************************/
.sect2{
  width: 660px;
  left: 20px;
  top: -10px;

 
}

.sect2 .box2{
  width: 200px;
  height: 200px;
  position: relative;
  left: 0px;
  top: 20px;
}

.sect2 .texto2{
  width: 340px;
  position: relative;
  top: -160px;
  left: 240px;
  font-size: 16px;
}
/**********************sect3******************************************************ADAOTABLE************************************************************/

.sect3{
  width: 660px;
  left: 20px;
  top: -40px;
 
}

.sect3 .box3{
  width: 200px;
  height: 200px;
  position: relative;
  left: 0px;
  top: 20px;
}
.sect3 .texto3{
  width: 340px;
  position: relative;
  top: -160px;
  left: 240px;
  font-size: 16px;
}
/**********************sect4******************************************************ADAOTABLE************************************************************/
.sect4{
  width: 720px;
  height: fit-content;
  top: -60px;
  bottom: 30px;
 
}

.sect4 .titulo3{
  width: 680px;
 
}

.sect4 .titulo3 #h22{
  font-size: 20px;
}
/**********************cajon1******************************************************ADAOTABLE************************************************************/
.sect4 .cajon1{
width: 680px;
height: auto;
left: 0;
}

.sect4 .cajon1 .zoom{
  width: 300px;
  height: 242px;
  position: relative;
  top: 20px;
  left: 0;
}

.texto-zoom{
  width: 360px;
  left: 305px;
  top: -150px;
  font-size: 16px;
}
 /**************************cajon2***//**************************SECTION4 CAJA2***//*****************************//*****************************/
 .sect4 .cajon2{
  width: 680px;
  height: auto;
  left: 0;
  top: -40px;

}

.sect4 .cajon2 .pepsie{
  width: 300px;
  height: 260px;
  position: relative;
  top: 30px;
  left: 0;
}

 .texto-pepsies{
  width: 360px;
  left: 305px;
  top: -150px;
  font-size: 16px;
}
/*****************************//**************************SECTION4 CAJA3***//*****************************//*****************************/

.sect4 .cajon3{
  width: 680px;
  height: auto;
  left: 0;
  top: -80px;

}

.sect4 .cajon3 .pepsie1{
  width: 300px;
  height: 260px;
  position: relative;
  top: 30px;
  left: 0;
}

 .texto-pepsies1{
  width: 360px;
  left: 305px;
  top: -150px;
  font-size: 16px;
}
/*****************************//**************************SECTION4 CAJA3***//*****************************//*****************************/

footer{
width: 720px;
height: 600px;
background: black;
top: -50px;
}

.h44{
  color: white;
}

.bb{
  width: 400px;
  height: auto;
  display: inline-block;
  position: relative;
  left: 40px;
  
}

#hola{
  width: 400px;
  height: auto;
position: relative; 
left: 40px; }

#mm{
color: #FFFFFF;
position: relative;
left: 40px;
}

.aa{
text-decoration: none;
color: #FDFEFE;
}
}
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
@media screen and (min-width: 480px) and (max-width:780px){ 
 
  nav{
    width: 680px;
  }
  .sub-menu-parent{
    height: 50%;
    
   border-bottom: black 1px solid;

}
/**********************titulos******************************************************ADAOTABLE************************************************************/
#fondo{
  width: 680px;
  float: left;
}
/**********************titulos******************************************************ADAOTABLE************************************************************/
#bqa{
  width: 680px;
 left: 20px;
  margin-bottom: 20px;
}
/**********************carrusel******************************************************ADAOTABLE************************************************************/
#carrusel{
  width: 680px;
  margin-bottom: 30px;
  
}
.splide__slide{
  font-size: 16px;
}
.splide__slide #tres{
  width: 120px;
  height: 120px;
}
 /**********************contenedorprincipal******************************************************ADAOTABLE************************************************************/
 .contenedorPrincipal{
  width: 680px;
  height:fit-content;

}
/**********************sec1******************************************************ADAOTABLE************************************************************/

.sect1{
width: 640px;
height: 500px;
top: 20px;
left: 20px;
}

.sect1 .box1{
  width: 200px;
  height: 200px;
  position: relative;
  left: 230px;
}

.sect1 .texto1{
  width: 340px;
  top: 20px;
  left: 150px;
  
}
/**********************sect2******************************************************ADAOTABLE************************************************************/
.sect2{
  width: 640px;
  height: 500px;
  top: 20px;
  left: 20px;
}

.sect2 .box2{
  width: 200px;
  height: 200px;
  position: relative;
  left: 230px;
}

.sect2 .texto2{
  width: 340px;
  top: 20px;
  left: 150px;
  
}
/**********************sect3******************************************************ADAOTABLE************************************************************/

.sect3{
  width: 640px;
  height: 500px;
  top: 20px;
  left: 20px;
 
}

.sect3 .box3{
  width: 200px;
  height: 200px;
  position: relative;
  left: 230px;
}
.sect3 .texto3{
  width: 340px;
  top: 20px;
  left: 150px;
}
/**********************sect4******************************************************ADAOTABLE************************************************************/
.sect4{
  width: 680px;
  height: fit-content;
  bottom: 30px;
 
}

.sect4 .titulo3{
  width: 640px;
}

.sect4 .titulo3 #h22{
  font-size: 20px;
}
/**********************cajon1******************************************************ADAOTABLE************************************************************/
.sect4 .cajon1{
width: 680px;
height: auto;
left: 0;
}

.sect4 .cajon1 .zoom{
  width: 300px;
  height: 242px;
  position: relative;
  top: 20px;
  left: 0;
}

.texto-zoom{
  width: 360px;
  left: 305px;
  top: -150px;
  font-size: 16px;
}
 /**************************cajon2***//**************************SECTION4 CAJA2***//*****************************//*****************************/
 .sect4 .cajon2{
  width: 680px;
  height: auto;
  left: 0;
  top: -40px;

}

.sect4 .cajon2 .pepsie{
  width: 300px;
  height: 260px;
  position: relative;
  top: 30px;
  left: 0;
}

 .texto-pepsies{
  width: 360px;
  left: 305px;
  top: -150px;
  font-size: 16px;
}
/*****************************//**************************SECTION4 CAJA3***//*****************************//*****************************/

.sect4 .cajon3{
  width: 680px;
  height: auto;
  left: 0;
  top: -80px;

}

.sect4 .cajon3 .pepsie1{
  width: 300px;
  height: 260px;
  position: relative;
  top: 30px;
  left: 0;
}

 .texto-pepsies1{
  width: 360px;
  left: 305px;
  top: -150px;
  font-size: 16px;
}
/*****************************//**************************SECTION4 CAJA3***//*****************************//*****************************/

footer{
width: 680px;
height: 600px;
background: black;
top: -50px;
}

.h44{
  color: white;
}

.bb{
  width: 400px;
  height: auto;
  display: inline-block;
  position: relative;
  left: 40px;
  
}

#hola{
  width: 400px;
  height: auto;
position: relative; 
left: 40px; }

#mm{
color: #FFFFFF;
position: relative;
left: 40px;
}

.aa{
text-decoration: none;
color: #FDFEFE;
}
}
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/
/***********************************************************FOOTER***************************************************************/


@media screen and (max-width: 480px){
  nav{
    width: 420px;
  }
  .sub-menu-parent{
    height: 50%;
    
   border-bottom: black 1px solid;

}
/**********************titulos******************************************************ADAOTABLE************************************************************/
#fondo{
  width: 420px;
  float: left;
}
/**********************titulos******************************************************ADAOTABLE************************************************************/
#bqa{
  width: 420px;
 left: 20px;
  margin-bottom: 20px;
}
/**********************carrusel******************************************************ADAOTABLE************************************************************/
#carrusel{
  width: 420px;
  margin-bottom: 30px;
  
}
.splide__slide{
  font-size: 16px;
}
.splide__slide #tres{
  width: 120px;
  height: 120px;
}
 /**********************contenedorprincipal******************************************************ADAOTABLE************************************************************/
 .contenedorPrincipal{
  width: 420px;
  height:1600px;
}
/**********************sec1******************************************************ADAOTABLE************************************************************/

.sect1{
width: 400px;
height: 500px;
top: 20px;
left: 10px;
}

.sect1 .box1{
  width: 200px;
  height: 200px;
  position: relative;
left: 110px;
}

.sect1 .texto1{
  width: 250px;
  top: 20px;
  left: 80px;
  
}
/**********************sect2******************************************************ADAOTABLE************************************************************/
.sect2{
  width: 400px;
height: 500px;
top: 20px;
left: 10px;
}

.sect2 .box2{
  width: 200px;
  height: 200px;
  position: relative;
left: 110px;
}

.sect2 .texto2{
  width: 250px;
  top: 20px;
  left: 80px;
  
}
/**********************sect3******************************************************ADAOTABLE************************************************************/

.sect3{
  width: 400px;
  height: 500px;
  top: 80px;
  left: 10px;
}

.sect3 .box3{
  width: 200px;
  height: 200px;
  position: relative;
left: 110px;
}
.sect3 .texto3{
  width: 250px;
  top: 20px;
  left: 80px;
}
/**********************sect4******************************************************ADAOTABLE************************************************************/
.sect4{
  width: 420px;
  height: fit-content;
  bottom: 30px;
 
}

.sect4 .titulo3{
  width: 380px;
}

.sect4 .titulo3 #h22{
  font-size: 20px;
}
/**********************cajon1******************************************************ADAOTABLE************************************************************/
.sect4 .cajon1{
  width: 380px;
  height: 500px;
}

.sect4 .cajon1 .zoom{
  width: 230px;
  height: 200px;
  position: relative;
  top: 20px;
  left: 75px;
}

.texto-zoom{
  width: 250px;
  top: 25px;
  left: 65px;
}
 /**************************cajon2***//**************************SECTION4 CAJA2***//*****************************//*****************************/
 .sect4 .cajon2{
  width: 380px;
  height: 500px;
}

.sect4 .cajon2 .pepsie{
  width: 230px;
  height: 200px;
  position: relative;
  top: 20px;
  left: 75px;
}

 .texto-pepsies{
  width: 250px;
  top: 25px;
  left: 65px;
}
/*****************************//**************************SECTION4 CAJA3***//*****************************//*****************************/

.sect4 .cajon3{
  width: 380px;
  height: 500px;

}

.sect4 .cajon3 .pepsie1{
  width: 300px;
  height: 200px;
  position: relative;
  top: 20px;
  left: 45px;
}

 .texto-pepsies1{
  width: 250px;
  top: 25px;
  left: 65px;
}
/*****************************//**************************SECTION4 CAJA3***//*****************************//*****************************/

footer{
width: 420px;
height: fit-content;
background: black;
top: -50px;
}

.h44{
  color: white;
}

.bb{
  width: 400px;
  height: auto;
  display: inline-block;
  position: relative;
  left: 40px;
  
}

#hola{
  width: 400px;
  height: auto;
position: relative; 
left: 40px; }

#mm{
color: #FFFFFF;
position: relative;
left: 40px;
}

.aa{
text-decoration: none;
color: #FDFEFE;
}
}